tap "aquaproj/aqua"
tap "hashicorp/tap"
# Declarative CLI Version manager
brew "aqua"
# Text processing scripting language
brew "awk"
# Manage your dotfiles across multiple diverse machines, securely
brew "chezmoi"
# Get a file from an HTTP, HTTPS or FTP server
brew "curl"
# Command-line fuzzy finder written in Go
brew "fzf"
# Lightweight and flexible command-line JSON processor
brew "jq"
# GitHub command-line tool
brew "gh"
# Remote repository management made easy
brew "ghq"
# Distributed revision control system
brew "git"
# Platform built on V8 to build network applications
brew "node"
# Theme for zsh
brew "powerlevel10k"
# Fast, configurable, shell plugin manager
brew "sheldon"
# Prints a steam locomotive if you type sl instead of ls
brew "sl"
# Display directories as trees (with optional color/HTML output)
brew "tree"
# Internet file retriever
brew "wget"
# Check your $HOME for unwanted files and directories
brew "xdg-ninja"
# UNIX shell (command interpreter)
brew "zsh"
# Terraform
brew "hashicorp/tap/terraform"
{{ if eq .chezmoi.os "darwin" -}}
# Plain-text editor for web pages, program source codes and more
cask "coteditor"
# Virtual monitor for screen sharing
cask "deskpad"
cask "font-hack-nerd-font"
# Terminal emulator that uses platform-native UI and GPU acceleration
cask "ghostty"
# CLI to create, run, and deploy Slack apps
cask "slack-cli"
# Open-source code editor
cask "visual-studio-code"
{{- end }}
vscode "alefragnani.project-manager"
vscode "anthropic.claude-code"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "hancel.markdown-image"
vscode "marp-team.marp-vscode"
vscode "yzhang.markdown-all-in-one"
